:root {
  --bg-color-app-1: rgb(51, 51, 51);
  --bg-color-app-2: rgb(17, 18, 27);

  /* --bg-main-color: rgba(67, 80, 85, .4); */
  --bg-color-main: rgba(191, 227, 242, .15);
  --bg-color-light: rgba(224, 231, 234, .3);
  
  --color-light: rgb(235, 244, 250);
  --color-green: #1DE9B7 ;
  --color-red: #9F214C;
  --color-blue: #289DBC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
